


    <section class="govsp-topo" style="z-index: 11;position: relative;">
        <div id="govsp-topbarGlobal" class="blu-e">
            <div id="topbarGlobal">
                <div id="topbarLink" class="govsp-black">
                    <div class="govsp-portal">
                        <a href="https://www.saopaulo.sp.gov.br" title="nova guia Site Governo do Estado de São Paulo" target="_blank">
                            <img src="https://saopaulo.sp.gov.br/barra-govsp/img/logo-governo-do-estado-sp.png" alt="logomarca Governo de São Paulo" height="38" class="logo">
                        </a>
                    </div>
                </div>
                <nav class="govsp-navbar govsp-navbar-expand-lg">

                    <a class="govsp-social" href="https://www.flickr.com/governosp/"><img class="govsp-icon-social" src="https://saopaulo.sp.gov.br/barra-govsp/img/i-flickr.png" alt="Flickr Governo do Estado de SP"></a>

                    <a class="govsp-social" href="https://www.linkedin.com/company/governosp/"><img class="govsp-icon-social" src="https://saopaulo.sp.gov.br/barra-govsp/img/i-linkedin.png" alt="Linkedin Governo do Estado de SP"></a>

                    <a class="govsp-social" href="https://www.tiktok.com/governosp"><img class="govsp-icon-social" src="https://saopaulo.sp.gov.br/barra-govsp/img/i-tiktok.png" alt="TikTok Governo do Estado de SP"></a>

                    <a class="govsp-social" href="https://www.youtube.com/governosp/"><img class="govsp-icon-social" src="https://saopaulo.sp.gov.br/barra-govsp/img/i-youtube.png" alt="Youtube Governo do Estado de SP"></a>

                    <a class="govsp-social" href="https://www.twitter.com/governosp/"><img class="govsp-icon-social" src="https://saopaulo.sp.gov.br/barra-govsp/img/i-twitter.png" alt="Twitter Governo do Estado de SP"></a>

                    <a class="govsp-social" href="https://www.instagram.com/governosp/"><img class="govsp-icon-social" src="https://saopaulo.sp.gov.br/barra-govsp/img/i-insta.png" alt="Instagram Governo do Estado de SP"></a>

                    <a class="govsp-social" href="https://www.facebook.com/governosp/"><img class="govsp-icon-social" src="https://saopaulo.sp.gov.br/barra-govsp/img/i-facebook.png" alt="Facebook Governo do Estado de SP"></a>

                    <p class="govsp-social" style="color: black;height: 0;">/governosp</p>

                    <a class="govsp-acessibilidade" title="nova guia" href="https://www.saopaulo.sp.gov.br/fale-conosco/comunicar-erros/" target="_blank"><img class="govsp-acessibilidade" src="https://saopaulo.sp.gov.br/barra-govsp/img/i-error-report.png" alt="Comunicar um erro"></a>
                </nav>
            </div>
        </div>
        <script src="https://saopaulo.sp.gov.br/barra-govsp/js/script-top-v2.js?vs=3.0"></script>
        <noscript>
            Seu navegador não tem suporte a JavaScript ou está desativado!
        </noscript>
    </section>

    <div id="govsp-topbarGlobal" class="blu-e">
        <div id="topbarGlobal" class="cdhu d-flex justify-content-center">
            <div id="topbarLink" class="cdhu-black">
                <div class="govsp-portal">
                    <a href=" https://www.cdhu.sp.gov.br/"
                       target="_blank">
                        <img src="assets/images/top_bar/CDHU.png"   alt="logomarca CDHU" height="38" class="logo cdhu">
                    </a>
                </div>
            </div>
            <section>
                <div class="right p-3 h-100 d-flex align-items-center justify-content-center">
               
                </div>
            </section>
        </div>
    </div>

   <app-login></app-login>
    <!--     <nav class="navbar navbar-expand-lg navbar-dark border-bottom border-body nav-responsive py-3" style="padding:0 140px;">
            <div class="container-fluid">
                <button class="navbar-toggler" style="background-color:#ccc;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav mb-2 mb-lg-0" style="gap:16px;">

                        <li class="nav-item">
                                <a class="navbar-brand fs-5" style="color:black" asp-action="Index" asp-controller="Atendimento">Busca</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand fs-5" style="color:black" target="_blank" href="https://app.powerbi.com/groups/6f794241-15e0-4a74-91d0-f1e0d5b468d4/reports/5b34e20d-24ba-4b64-9c55-43f06a7440c0/ReportSection?experience=power-bi">Painel</a>
                            </li>
                        

                       
                            <li class="nav-item">
                                <a class="navbar-brand fs-5" style="color:black" asp-action="SelecaoServico" asp-controller="Agendamento">Agendamentos</a>
                            </li>
                        

                      
                            <li class="nav-item">
                                <a class="navbar-brand fs-5" style="color:black" asp-action="Index" asp-controller="Grade">Gerar Grade Horários</a>
                                <a class="navbar-brand fs-5" style="color:black" asp-action="SendVitrine" asp-controller="Login">Vitrine</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand fs-5" style="color:black" asp-action="Index" asp-controller="Responsavel">Responsável</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand fs-5" style="color:black" asp-action="Index" asp-controller="Atendimento">Busca</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand fs-5" style="color:black" asp-action="Index" asp-controller="Mapa">Mapa</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand fs-5" style="color:black" target="_blank" href="https://app.powerbi.com/groups/6f794241-15e0-4a74-91d0-f1e0d5b468d4/reports/5b34e20d-24ba-4b64-9c55-43f06a7440c0/ReportSection?experience=power-bi">Painel</a>
                            </li>
                        
                        
                    </ul>
                </div>
            </div>
        </nav>

     -->

   

  


